<!-- <ion-view view-title="Maps">
  <ion-content ng-controller="MapController">
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <div id="map" data-tap-disable="true"></div>
  </ion-content>
</ion-view>
 -->
<ion-view title="Map Overview">
  <ion-content ng-controller="MapController" ng-init="initialize()">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
<ion-footer-bar class="bar-dark">
  <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
</ion-footer-bar>